<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="magnetometer" params="name">

    <sensor name="${name}">
      <param name="mujoco_type">magnetometer</param>
      <param name="mujoco_sensor_name">body_magnetometer</param>

      <state_interface name="magnetic_field.x"/>
      <state_interface name="magnetic_field.y"/>
      <state_interface name="magnetic_field.z"/>
    </sensor>

  </xacro:macro>

</robot>
