<?xml version="1.0"?>
<robot name="proxy" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="proxy_interfaces">
    <xacro:include filename="$(find uav_description)/urdf/interfaces/imu_interface.xacro" />
    <xacro:include filename="$(find uav_description)/urdf/interfaces/rotor_interface.xacro" />
    <xacro:include filename="$(find uav_description)/urdf/interfaces/rc_interface.xacro" />

    <xacro:macro name="rotors">
      <xacro:rotor id="1" />
      <xacro:rotor id="2" />
      <xacro:rotor id="3" />
      <xacro:rotor id="4" />
    </xacro:macro>

    <ros2_control name="proxy_imu" type="sensor">
      <hardware>
        <plugin>uav/proxy/IMU</plugin>
        <param name="sensor_name">base_imu</param>
      </hardware>
      <xacro:imu name="base_imu" />
    </ros2_control>

    <ros2_control name="proxy_actuator" type="actuator">
      <hardware>
        <plugin>uav/proxy/Actuator</plugin>
      </hardware>
      <xacro:rotors />
    </ros2_control>

    <ros2_control name="proxy_rc" type="sensor">
      <hardware>
        <plugin>uav/proxy/RC</plugin>
      </hardware>
      <xacro:rc />
    </ros2_control>
  </xacro:macro>
</robot>
