<?xml version="1.0"?>
<robot name="quad" xmlns:xacro="http://ros.org/wiki/xacro" version="1.1">

  <xacro:arg name="model" default="proxy"/>
  <xacro:property name="model" value="$(arg model)"/>

  <xacro:if value="${model == 'pifly'}">
    <xacro:arg name="imu_quat" default="0 0 1 0"/>
  </xacro:if>

  <xacro:include filename="zmr250.urdf.xacro" />

  <xacro:include filename="$(find uav_description)/urdf/ros2_control/proxy.ros2_control.xacro" />
  <xacro:include filename="$(find uav_description)/urdf/ros2_control/pifly.ros2_control.xacro" />

  <xacro:if value="${model == 'proxy'}">
    <xacro:proxy_ros2_control />
  </xacro:if>

  <xacro:if value="${model == 'pifly'}">
    <xacro:pifly_ros2_control />
  </xacro:if>

</robot>
