name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - {image: "ubuntu:24.04", ros: jazzy}

    container:
      image: ${{ matrix.image }}

    steps:
    - uses: actions/checkout@v6

    - uses: ros-tooling/setup-ros@v0.7

    - uses: ros-tooling/action-ros-ci@v0.4
      with:
        target-ros2-distro: ${{ matrix.ros }}
